
/* For the navigation bar*/
a:link, a:visited {
  background-color: #bf926b;
  color: black;
  font-weight:bold;	
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid white;
}


a:hover, a:active {
  background-color: #d5c3ad;
    border-radius: 15px;
	 border: 2px solid white;
  
}


/* everything that goes in body takes the following properties and attributes*/
body{
    background-color: #8a7c6f;
    
    color:black;
    
    height: 100vh;
    padding:0;
    margin:0;
	
}

.img1 {
	background-image: url('https://c.tenor.com/EAnd0WMUNscAAAAC/thanos.gif');
    background-size: cover;
    
    
	border: 3px solid white;
	border-radius:2vh;
    height: 100vh;
	width: 90vh;
    padding:0;
    margin:auto;

}

	

img {
	border-radius: 15px;	
	border: 2px none;
	width: 280px;
	left: -10px;
	top: -10px;
	z-index:-1;
}



.insideBody {
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	
border-radius: 10px;
	 border: 2px solid white;
	 background-color: #bf926b;
	 max-width:	990px;
	 height: 90vh;
	 margin: auto;
	 
}
.insidebody2 {
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	flex-basis: 100px;
border-radius: 10px;
	 border: 2px solid white;
	 background-color: #bf926b;
	 max-width:100vh;
	 height: 50vh;
	 margin: auto;
	
}
.Heading{
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	
border-radius: 10px;
	 border: 2px solid white;
	 background-color: #bf926b;
	 max-width:	990px;
	 height: 50vh;
	 margin: auto;
	

}


.block2 {
font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 350px;
  height: 470px;
  color:white;
  background-color: #bf926b;
  border-radius: 10px;
  border:2px solid white;
  text-align:center;
}	

.bane{
font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 60vh;
  height: 10vh;
  background-color: #bf926b;
  border-radius: 10px;
  text-align:center;
  border:2px solid white;
}

.block {
font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 300px;
  height: 650px;
  background-color: #bf926b;
  border-radius: 10px;
}

.container {
  text-align: center;
}
.container2 {
	text-align:center;
	display:flex;
}

.block img {
 width: 250px;
 height: 300px;
}

.box img1 {
	width: auto;
	height:auto;
}
.box {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: auto;
  height: 678px;
  background-color: #bf926b;
  border-radius: 10px;
  border:																																 2px solid white;
}
.column {
  float: left;
  width: 35%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.insidebody {
	font-family: Arial, Helvetica, sans-serif;
	
	color: black;
	padding: 14px 25px;
	background-color: #bf926b;
	border-radius: 5px;
	border: 2px solid white;
	max-width: 2000px;
	height: 120vh;
	margin: auto;
	 
}

h1{
	font-weight:bold;
}

h2{
	font-weight:bold;
}

h3{
	font-weight:bold;
}

h4{
	font-weight:bold;
}

h5{
	font-weight:bold;
}

h6{
	font-weight:bold;
}

.notbold {
	font-weight:normal;
}

form{
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	
	border-radius: 10px;
	border: 2px solid white;
	background-color: #bf926b;
	max-width:	990px;
	height: 70vh;
	margin: auto;
	 
	 
	
}

select {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 1px, 2px;
	border-radius:5px;
	border: 1px solid white;
	background-color: #d5c3ad;
}	
	

nav {
	font-family: Arial, Helvetica, sans-serif;
	width:110vh;
	height:5vh;
	background-color: #545454;
	padding:20px;
	border:2px solid white;
	border-radius: 25px;
}

aside {
font-family: Arial, Helvetica, sans-serif;
  

}	

section{
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	
	border-radius: 10px;
	 border: 2px solid white;
	 background-color: #bf926b;
	 max-width:	750px;
	 height: 25vh;
	 margin: auto;
	
}
article{
	font-family: Arial, Helvetica, sans-serif;
	
	color: white;
	padding: 14px 25px;
	
	border-radius: 10px;
	 border: 2px solid white;
	 background-color: #bf926b;
	 max-width:	750px;
	 height: 25vh;
	 margin: auto;

}
header {
font-family: Arial, Helvetica, sans-serif;
  background-color: #545454;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: white;
  border:solid white;
  position:flex;
}


footer{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #545454;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: white;  
	border:solid white;     
	position:flex;
}
